<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
    <title>Reservations</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

    <h1>Room Reservation</h1>
    <form action="#" method="post" th:action="@{/reservation}" th:object="${reservation}" >
        <label>Start day</label>
        <input type="number" th:field="*{startDay}">
        <label>End day</label>
        <input type="number" th:field="*{endDay}">
        <input type="submit" value="Submit" />
    </form>

</body>

</html>